openhdemgenv
__pycache__*
.vscode/
.vs/
.DS_Store
docs/.DS_Store
dist/
openhdemg.egg-info/
openhdemg/.DS_Store
prove.py
prove_storage.py
openhdemg/tests/fixtures/*
!openhdemg/tests/fixtures/__init__.py
