# Add README, LICENSE and requirements :
include README.md
include long_description.md
include LICENSE
include requirements.txt

# Add all the non .py files in openhdemg
include openhdemg/gui/gui_files/Icon.ico
include openhdemg/gui/gui_files/Cite.png
include openhdemg/gui/gui_files/Contact.png
include openhdemg/gui/gui_files/Info.png
include openhdemg/gui/gui_files/logo.png
include openhdemg/gui/gui_files/Matrix.png
include openhdemg/gui/gui_files/Online.png
include openhdemg/gui/gui_files/Redirect.png
include openhdemg/gui/gui_files/test.pdf

include openhdemg/library/decomposed_test_files/otb_testfile.mat

# Add the non .py files necessary to show the README on PyPI
include docs/md_graphics/Index/Banner_Logo.png
include docs/md_graphics/Index/GUI_Preview.png