.banner {
    display: flex;             /* Enable flexbox */
    justify-content: center;   /* Center horizontally */
    align-items: center;       /* Center vertically */
    height: 50px;              /* Height of the banner */
    position: sticky;          /* Follows as you scroll */
    top: 0;                    /* Absolute top of page */
    left: 0;
    width: 100%;
    z-index: 1;                /* Tells the renderer "this is important", otherwise Admonition and Code Blocks will render into it */
    text-align: center;        /* Ensures text is centered horizontally */
    background-color: rgb(215, 215, 101);
    font-size: 0.6rem;         /* Adjust font size */
}